/* welcome about.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 100px;
  
}
.logo {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}
.menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  padding: 50px 0;
}
.menu li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #010607;
  transition: 0.3s;
}


.menu li a:hover {
  color: #e3d8df;
}
body {
   background-image: url("image2.jpeg");
         width: 300px;
        background:(201, 49, 49);
         margin: 100px auto;
         padding: 20px;}







.page {
display: none;
padding: 60px 20px;
max-width: 800px;
margin: auto;
text-align: center;
}


.page.active {
display: block;
color: #f3eded;
}


h1 {
margin-bottom: 15px;
}


p {
font-size: 25px;
margin-bottom: 25px;
}


button {
padding: 10px 18px;
background: #f15ae7;
color: #fff;
border: none;
border-radius: 6px;
cursor: pointer;
}


button:hover {
background: #1d4ed8;
}