/* welcome about.css */
nav {
background: #5e83d9;
padding: 30px 40px;
display: flex;
margin-top: 10px    ;
justify-content: space-between;
align-items: center;
}
body {
   background-image: url("image2.jpeg");
         width: 300px;
        background:(201, 49, 49);
         margin: 100px auto;
         padding: 20px;}

nav h2 {
color: #d4ed5a;
}


nav a {
color: #b2128a;
margin-left: 20px;
text-decoration: none;
cursor: pointer;
}


nav a:hover {
background:  wheat;
}


.page {
display: none;
padding: 60px 20px;
max-width: 800px;
margin: auto;
text-align: center;
}


.page.active {
display: block;
color: #f3eded;
}


h1 {
margin-bottom: 15px;
}


p {
font-size: 25px;
margin-bottom: 25px;
}


button {
padding: 10px 18px;
background: #f15ae7;
color: #fff;
border: none;
border-radius: 6px;
cursor: pointer;
}


button:hover {
background: #1d4ed8;
}